/* @font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), url(./assets/fonts/HelveticaNeueLTStd75Bold.otf) format('opentype');
} */
@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), url(./assets/fonts/HelveticaNeueLTStd-Lt.otf) format('opentype');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 200;
  src: local('HelveticaNeue'), url(./assets/fonts/HelveticaNeueLTStd-Th.otf) format('opentype');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: local('HelveticaNeue'), url(./assets/fonts/HelveticaNeueLTStd-Md.otf) format('opentype');
}

* {
  font-family: Helvetica, sans-serif ;
}

button:focus {
  outline: none;
  border: none;
}
.App-header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(112,112,112,0.3); 
  box-shadow: 0px 10px 20px -10px rgba(112,112,112,0.3);
}

.logo {
  width: 100%;
  max-width: 140px;
  height: auto;
}

.hero-section {
  
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url(./assets/imgs/BACKGROUND-DESIGN.png);
  height: 700px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
@media(max-width:999.5px){
  .hero-section {
    background-size: 1000px auto;

  }

}
@media(min-width:1000px){
  .hero-section {
    background-size: 1200px auto;
    

  }
}
.hero-section .hero-heading {
  color: #1C75BC;
  text-transform: uppercase;
  font-family: HelveticaNeue;
  text-align: center;
  font-weight: 500;
  font-size: 2.5em;
}

@media(max-width:575.5px){
  .hero-section {
    padding: 30px 10px;
  }
  .hero-section .hero-heading {
    font-size: 1.4em;
  }
}

@media(min-width:576px) and (max-width:991px){

  .hero-section .hero-heading {
    font-size: 2em;
  }
}


.hero-section .hero-subtitle {
  font-family: Helvetica, sans-serif;
  color: #272727;
  font-size: 1em;
  text-align: justify;
  line-height: 1.75;
  word-spacing: 0.02em;
  letter-spacing: 0.02em;
}

.hero-section .discover-btn {
  background-color: #1C75BC;
  text-transform: uppercase;
  width: 170px;
  height: 40px;
  border: 0;
  color: white;
  border-radius: 5px;
  font-size: 0.9em;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.75);
  margin: 50px 0;
}

.videoThumbnail {
  width: 100%;
  height: auto;
}

.how-it-work-container-bg {
  background-image: url(./assets/imgs/pawel-czerwinski-unsplash.jpg);
  background-size: cover;
  background-position: left;
  
}

.how-it-work-container {
  background-color: #1C75BCaa;
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-it-work-container .how-it-work-btn{
  background-color: #E3E6EB;
  color: #1C75BC;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.how-it-work-container .how-it-work-heading{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
  text-align: center;
}
@media(max-width:576px){
  .how-it-work-container .how-it-work-heading{
    font-size: 1em;
  }
}

@media(max-width:420px){
  .how-it-work-container .how-it-work-heading{
    font-size: 0.9em;
  }
}




.services-card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px -10px #707070; 
  box-shadow: 0px 0px 20px -10px #707070;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: white;
  width: 360px;
}
@media(max-width:576px){
  .services-card {
    width: 300px;
  }
}

.services-card-title{
  font-size: 1.1em;
  font-weight: 500;
  color: #1C75BC;
  
}
.services-card-img {
  margin: 20px 0;
}

.services-card-details{
  color: #1C75BC;
  word-spacing: 0.1em;
  letter-spacing: 0.08em;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
}



.take-a-sec-container .question-mark-img {
 
}
.take-a-sec-container .take-a-sec-heading{
  color: #1C75BC;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4em;
  
}

.take-a-sec-container .span-1 {
  color: #1C75BC;
  font-size: 0.9em;
}

.take-a-sec-container .span-2 {
  color: #272727;
  font-size: 0.9em;

}

.card-wrapper{
  box-shadow: none !important;
  border: 1px solid #1C75BC !important;
}
.card-header {
  background-color: #1C75BC !important;
}
.card-header .h4 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3em;
  font-family: HelveticaNeue !important;
  letter-spacing: 1px;
  
}


.form-body label {
  color: #1C75BC !important;
  font-size: 1em;
  text-transform: uppercase;
}
.form-body input {
  border: 1px solid #B5DEFF !important;
  height: 50px;
  padding-left: 20px;
}
.form-body input::placeholder {
  color: #1C75BC !important;
}

.form-body .select-dropdown{
  height: 50px;
  border: 1px solid #B5DEFF !important;
  color: #1C75BC !important;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(112,112,112,0.2) !important; 
  box-shadow: 0px 10px 20px -10px rgba(112,112,112,0.2) !important;
}
.submit-btn {
  background-color: #1C75BC;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  width: 100%;
  font-size: 1em;
  letter-spacing: 2px;
}
@media (max-width:576px){
  .take-a-sec-container .take-a-sec-heading{
    font-size: 1em;
  }
  .take-a-sec-container .span-1 {
    font-size: 0.75em;
  }
  
  .take-a-sec-container .span-2 {
    font-size: 0.75em;
  
  }
  .submit-btn {
    font-size: 0.9em;
  }
  .form-body label {
    font-size: 0.9em;
  }
}
@media(max-width:991px){
  .card-wrapper{
    max-width: 500px;
  }
}

.success-story-container {
  background-image: url(./assets/imgs/3164.png);
  background-size: cover;
}


.success-story-container .ceo-name-h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: #1C75BC;
  font-size: 1.2em;
  font-family: HelveticaNeue;
  letter-spacing: 1px;
}
.success-story-container .ceo-name-h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: #1C75BC;
  font-size: 0.9em;
  font-family:  Helvetica, sans-serif;
  
}
.success-para{
  color: #1C75BC;
  font-size: 0.9em;
  font-weight: 400;
  word-spacing: 0.1em;
  letter-spacing: 0.08em;
  font-family:  Helvetica, sans-serif;
}

@media(min-width:1200px){
  .success-para , .success-story-container .ceo-name-h2{
    font-size: 1em;
  }
  .success-story-container .ceo-name-h1 {
    font-size: 1.3em;
  }
}


.ceo-container .ceo-name-h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: #1C75BC;
  font-size: 1.2em;
  font-family: HelveticaNeue;
  letter-spacing: 1px;
}
.ceo-container .ceo-name-h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: #1C75BC;
  font-size: 0.9em;
  font-family:  Helvetica, sans-serif;
}
.ceo-container .social-icon{
  width: 36px;
  height: 36px;

}

.subscribe-container {
  background-image: url(./assets/imgs/DOWNPART.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-container  .subscribe-h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: #1C75BC;
  font-size: 1.2em;
  text-align: center;
}
 @media(max-width:340px){
  .subscribe-container  .subscribe-h1 {
    font-size: 1em;
  }
 }
.subscribe-container .input-container {
  -webkit-box-shadow: 0px 0px 20px -10px #707070; 
  box-shadow: 0px 0px 20px -10px #707070;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
}
.subscribe-container .input-container input {
  border: 0;
  height: 100%;
}
.subscribe-container .input-container button {
  border: 0;
  height: 50px;
  width: 80px ;
  border-radius: 50px;
  background-color: #1C75BC;
  color: white;
  font-size: 0.9em;
}
@media(min-width:480px){
  .subscribe-container .input-container input {
    width: 300px;
  }
  .subscribe-container .input-container button {
    width: 150px;
    font-size: 1em;
  }
}
.footer-container{
background-color: #1C75BC;
}

.footer-container .copyright-para{
  color: white;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
  letter-spacing: 0.05em;
}